<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div class="contenedor">
    <h1>Ingrese sus Datos</h1>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Nombre: </mat-label>
        <input
          matInput
          name="nombre"
          formControlName="nombre"
          placeholder="Nombre"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Apellido: </mat-label>
        <input
          matInput
          name="apellido"
          formControlName="apellido"
          placeholder="Apellido"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Edad: </mat-label>
        <input matInput name="edad" formControlName="edad" placeholder="Edad" />
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">Guardar</button>
    </div>

    <div class="personas" *ngFor="let persona of personas">
      <p>Nombre y Apellido: {{ persona.nombre }} {{ persona.apellido }}</p>
      <p>Edad: {{ persona.edad }}</p>
      <button
        type="button"
        mat-raised-button
        color="accent"
        (click)="editarPersona(persona)"
      >
        Editar
      </button>
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="borrarPersona(persona)"
      >
        Borrar
      </button>
    </div>
  </div>

  <!-- <h2>Apple</h2>
  <div class="texto" *ngFor="let noticia of noticias">
    <p>
      {{ noticia.description }}
    </p>
  </div> -->
</form>
